.main {

    // .main__container
    &__container {
        padding-top: 50px;
    }

    &__title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 24px;
        color: orange;
    }
}

.experts {

    // .experts__video
    &__video {
        flex: 1 1 100%;
        // padding: 0 0 50% 0;
        position: relative;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        overflow: hidden;
        text-align: center;

        iframe {
            max-width: 100%;
            //     position: absolute;
            //     max-width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     object-fit: cover;
            // }
        }
    }
}