// colors
$mainColor: #232e35;
$greyColor: #656d72;

$actionColor: #7e74f1;

$secondary-bg: #fbfbfb;
$white-bg: #ffffff;
$black-bg: #1e1e1e;

$mobile: 767.98px; // мобилка адаптив
$small: 467px; //маленькая мобилка адаптив

$maxWidth: 1920; //макс ширина экрана
$maxWidthContainer: 1230; //макс ширина контейнера
