[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100%;
}

body {
    &.lock {
        overflow: hidden;
    }
}

@import './variables.scss';
@import './cancel.scss';
@import './common.scss';

@import './header.scss';
@import './main.scss';