@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@import '../icon-fonts/style.css';
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

body {
  position: relative;
}

body.lock {
  overflow: hidden;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 10px;
  font-weight: 600;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
  color: #231900;
  background-color: #ffffff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background-color: aqua;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
  align-items: center;
  max-height: 80px;
}
.header__logo img {
  max-width: 130px;
  max-height: 80%;
}
.header__menu {
  display: flex;
}
.header__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.header__link {
  font-size: 18px;
  color: rgb(74, 68, 68);
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: rgb(89, 169, 226);
}

.main__container {
  padding: 0;
}

.image-slider__image {
  position: relative;
  padding-bottom: 60%;
}
.image-slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about {
  background-color: rgba(60, 249, 183, 0.147);
}
.about__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .about__container {
    flex-direction: column;
  }
}
.about__content {
  padding: 20px;
}
@media (max-width: 479.98px) {
  .about__content {
    padding: 0;
  }
}
.about__title {
  max-width: 800px;
  font-size: 2.6rem;
  color: rgb(18, 108, 108);
}
@media (max-width: 479.98px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__title:not(:last-child) {
  margin-bottom: 30px;
}
.about__sub-title {
  padding-left: 200px;
  font-size: 2.4rem;
  color: rgb(18, 108, 108);
}
.about__image img {
  max-width: 250px;
}
@media (max-width: 767.98px) {
  .about__image img {
    max-width: 200px;
  }
}
@media (max-width: 479.98px) {
  .about__image img {
    max-width: 150px;
  }
}
@media (max-width: 767.98px) {
  .about__image {
    text-align: center;
  }
}
.about__contacts {
  padding: 10px;
}

.contact__list-item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.contact__list-item:not(:last-child) {
  margin-bottom: 15px;
}
.contact__list-icon {
  display: flex;
  width: 20px;
  height: 20px;
}
.contact__list-text {
  font-size: 1.6rem;
  color: rgb(74, 68, 68);
  transition: all 0.3s ease 0s;
}
.contact__list-text:hover {
  color: rgb(89, 169, 226);
}
.contact__list-desc {
  font-size: 1.6rem;
  padding-left: 5px;
  color: rgb(50, 49, 49);
}
@media (max-width: 767.98px) {
  .contact {
    text-align: center;
  }
}

.hot .reverse {
  padding-top: 0px;
}
.hot__content {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hot__content {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.hot__content.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .hot__content.reverse {
    flex-direction: column;
  }
}
.hot__image {
  flex: 0 0 50%;
  position: relative;
  padding-bottom: 10%;
}
@media (max-width: 767.98px) {
  .hot__image {
    max-width: 100%;
    padding-bottom: 40%;
  }
}
@media (max-width: 479.98px) {
  .hot__image {
    padding-bottom: 80%;
  }
}
.hot__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.hot__info {
  flex: 1 1 50%;
}

.info__title {
  font-size: 2.2rem;
}
@media (max-width: 479.98px) {
  .info__title {
    font-size: 2rem;
  }
}
.info__title a {
  color: orange;
}
.info__sub-title {
  font-size: 1.6rem;
  color: rgb(74, 68, 68);
}
.info__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
.info__price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
}
.info__price:not(:last-child) {
  margin-bottom: 10px;
}
.info__price :first-child {
  font-size: 2rem;
}
.info__price :last-child {
  font-size: 2rem;
}
.info__people {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.info__people:not(:last-child) {
  margin-bottom: 10px;
}
.info__people p {
  font-size: 1.8rem;
}
.info__people-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__food {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.info__food:not(:last-child) {
  margin-bottom: 10px;
}
.info__food p {
  font-size: 1.8rem;
}
.info__food-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__food-icon img {
  max-width: 20px;
  max-height: 20px;
}
.info__arrived {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.info__arrived:not(:last-child) {
  margin-bottom: 20px;
}

.arrived__icon {
  width: 20px;
  height: 20px;
}
.arrived__info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
@media (max-width: 479.98px) {
  .arrived__info {
    flex-direction: column;
  }
}
.arrived__from {
  position: relative;
}
.arrived__from ::before {
  top: 10px;
  display: block;
  left: 100px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.arrived__date {
  font-size: 1.4rem;
}
.arrived__town {
  font-size: 1.2rem;
  color: rgb(122, 115, 115);
}
.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  padding: 15px 60px 15px 60px;
  border-radius: 10px;
  background-color: aqua;
  color: orange;
  font-size: 2rem;
  position: relative;
  top: 0;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .booking {
    margin: 0 auto;
  }
}
@media (max-width: 479.98px) {
  .booking {
    width: 100%;
  }
}
.booking:hover {
  background-color: rgb(0, 230, 230);
  color: rgb(255, 252, 245);
  box-shadow: 0 0 10px 0 #bbe4ff inset, 0 0 10px 4px #648499;
}
.booking:active {
  top: 3px;
  box-shadow: 0 0 0 0 #bbe4ff inset, 0 0 0 0 #648499;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease 0s;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  position: relative;
}
.popup__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(130, 142, 150, 0.5) url("../assets/icons/sending.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.popup__body.sending::after {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  background-color: #b4b2b2;
  max-width: 800px;
  padding: 70px 60px 40px;
  border-radius: 30px;
  position: relative;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.close__popup {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 4rem;
  background-color: transparent;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  color: rgb(74, 68, 68);
}
.form span {
  color: red;
}
.form__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.form__item {
  margin-bottom: 20px;
}
.form__label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}
.form__input:focus {
  box-shadow: 0 0 15px #75d2ee;
}
.form__input._error {
  box-shadow: 0 0 15px #da4444;
}
.form__button {
  display: flex;
  margin: 0 auto;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: rgb(89, 169, 226);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8rem;
  position: relative;
  top: 0;
  transition: all 0.3s ease 0s;
}
.form__button:hover {
  background-color: rgb(0, 230, 230);
  box-shadow: 0 0 10px 0 #bbe4ff inset, 0 0 10px 4px #648499;
}
.form__button:active {
  top: 3px;
  box-shadow: 0 0 0 0 #bbe4ff inset, 0 0 0 0 #648499;
}

.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.social__link {
  font-size: 2rem;
  color: rgb(74, 68, 68);
  transition: all 0.3s ease 0s;
}
.social__link:hover {
  color: rgb(89, 169, 226);
}/*# sourceMappingURL=style.css.map */