.header {
    background-color: aqua;

    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px;
        align-items: center;
        max-height: 80px;
    }

    &__logo {

        img {
            max-width: 130px;
            max-height: 80%;
        }
    }

    // .header__menu
    &__menu {
        display: flex;
    }

    // .header__list
    &__list {
        display: flex;
        column-gap: 40px;
        row-gap: 5px;
        flex-wrap: wrap;
    }

    // .header__link
    &__link {
        font-size: 18px;
        color: $greyColor;
        transition: all 0.3s ease 0s;

        &:hover {
            color: $actionColor;
        }
    }
}