.main {

    // .main__section
    &__section {}

    // .main__container
    &__container {
        padding: 0;
    }
}

.swiper {}

.image {

    // .image__slider
    &__slider {
        // padding: 10px 0px 20px 0px;
    }

    // .image__slider-wrapper
    &__slider-wrapper {}

    // .image__slider-slide
    &__slider-slide {}
}

.swiper-container {}

.swiper-wrapper {}

.swiper-slide {}

.image-slider {

    // .image-slider__image
    &__image {
        // max-height: 690px;
        position: relative;
        padding-bottom: 60%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // max-width: 100%;
        }
    }
}

.swiper-button-prev {}

.swiper-button-next {}