$greyColor: rgb(74, 68, 68);
$actionColor: rgb(89, 169, 226);
$whiteColor: #ffffff;

$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

$maxWidth: 1920; //макс ширина экрана
$maxWidthContainer: 1200; //макс ширина контейнера